html {
  scroll-behavior: smooth;
}

.page {
    z-index: 0;
    height: 100vh;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.205);
}

body {
    overflow-x: hidden;
   /* Background gradient provided by: https://uigradients.com/#CoolSky */
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

#top-nav {
    z-index: 1;
    background-color: #fff; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    width: 100%; /* Full width */
    transition: all ease-in-out 0.5s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #top-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #top-nav a:hover {
    text-decoration: underline;
    font-weight: bolder;
  }

  #side-nav {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    width: 5vw;
    position:fixed;
    vertical-align: middle;
    transition: all ease-in-out 1s;
    z-index: 1;
  }

  .fas {
    color: white;
  }

  .hide {
    opacity:0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .show {
    opacity:1;
   -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }